@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  padding: 0;
  margin: 0;
  color: white;
  font-size: 14px;
  background: #1c2431;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 50px;
}

nav img {
  width: 150px;
}

nav .menu-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
}

nav .menu-nav__item {
  margin: 25px;
}

nav .menu-nav__item .link {
  color: white;
  text-decoration: none;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .texts {
  text-align: center;
  margin-top: 25px;
  padding: 50px;
}

.container .texts h3 {
  font-size: 2rem;
  font-weight: 400;
}

.container .texts p {
  font-weight: 300;
  font-size: 15px;
  margin-top: 10px;
}

.container .texts button {
  height: 2.5rem;
  margin: 15px 0 0 0;
  font-size: 15px;
  border: none;
  color: #fff;
  border-radius: 25px;
  padding: 5px 3rem 5px 3rem;
  background: -webkit-gradient(linear, left top, right top, from(#65e2d9), to(#339ecc));
  background: linear-gradient(to right, #65e2d9, #339ecc);
  cursor: pointer;
  outline: none;
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

.container .texts button:active {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

.articles {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 1px;
  padding: 4rem 10rem 0 10rem;
  background: url("../images/bg-curvy-desktop.svg") center top;
  background-repeat: no-repeat;
  background-size: 100%;
}

.articles__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 20px;
}

.articles__list .texts {
  text-align: center;
  padding: 10px 30px;
}

.articles__list .texts h6 {
  font-size: 1.5rem;
  font-weight: 300;
}

.articles__list .texts p {
  font-size: 13px;
  font-weight: 100;
  padding: 0 7rem;
}

.main {
  background: #181f2a;
}

.main .productive {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #181f2a;
  padding: 4rem 7rem;
}

.main .productive .prod {
  padding: 30px;
  margin: 0 5rem;
}

.main .productive .texts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 50px;
}

.main .productive .texts h3 {
  font-size: 2rem;
  width: 70%;
  font-weight: 400;
}

.main .productive .texts p {
  font-weight: 300;
  font-size: 15px;
  margin-top: 15px;
}

.main .productive .texts .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 10px;
  text-decoration: underline;
}

.main .productive .texts .flex a {
  text-decoration: none;
  color: #65e2d9;
}

.main .productive .texts .flex img {
  width: 20px;
}

.main .testimonial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4rem 10rem 18rem 10rem;
}

.main .testimonial .test_profile {
  background: #202a3c;
  -webkit-box-shadow: 0 3px 5px rgba(12, 8, 8, 0.5);
          box-shadow: 0 3px 5px rgba(12, 8, 8, 0.5);
  margin: 0.5rem 1rem;
  padding: 2rem;
}

.main .testimonial .test_profile .profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-top: 20px;
}

.main .testimonial .test_profile .profile img {
  height: 30px;
  border-radius: 50%;
}

.main .testimonial .test_profile .profile .names {
  margin: 0 10px;
}

.main .testimonial .test_profile .profile .names h6 {
  font-size: 15px;
  font-weight: 550;
}

.main .testimonial .test_profile .profile .names p {
  font-size: 10px;
}

.access {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  position: absolute;
  left: 17rem;
  top: 300%;
  background: #1c2431;
  padding: 4rem 5rem;
  border-radius: 5px;
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}

.access h1 {
  font-size: 2rem;
  font-weight: 400;
}

.access p {
  margin-top: 10px;
  text-align: center;
  width: 55%;
}

.access .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 15px;
}

.access .btn input {
  width: 500px;
  height: 40px;
  border-radius: 20px;
  border: none;
  margin: 0 20px;
  outline: none;
  padding: 10px;
  opacity: 0.9;
}

.access .btn input:focus {
  border: 1.5px solid #65e2d9;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.access .btn button {
  height: 2.5rem;
  font-size: 15px;
  border: none;
  color: #fff;
  border-radius: 25px;
  padding: 5px 1.6rem 5px 1.6rem;
  background: -webkit-gradient(linear, left top, right top, from(#65e2d9), to(#339ecc));
  background: linear-gradient(to right, #65e2d9, #339ecc);
  cursor: pointer;
  outline: none;
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

.access .btn button:active {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

footer {
  background: #0b1523;
}

.footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #0b1523;
  padding: 10rem 8rem;
}

.footer_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer_list #logo {
  width: 150px;
}

.footer_list .foot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}

.footer_list .foot img {
  margin: 0 20px;
}

.footer_list ul {
  list-style: none;
  margin: 0 20px;
}

.footer_list ul li {
  margin: 5px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #65e2d9;
}
/*# sourceMappingURL=main.css.map */