@mixin media-sm {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@include media-sm() {
  nav {
    padding: 10px;

    img {
      width: 70px;
    }
    .menu-nav {
      &__item {
        margin: 10px;
      }
    }
  }

  .container {
    img {
      width: 100%;
    }

    .texts {
      
      h3 {
        font-size: 1.1rem;
       padding: 0px 4rem;
      }
      p {
        font-size: 10px;
        padding: 1px 4rem;
      }
    }
  }

  .articles {
    display: flex;
    flex-direction: column;
    background: none;
    justify-content: center;
    align-items: center;
    padding: 0;

    &__list {
      padding: 0;
      .texts {
        padding: 1rem;

        h6 {
          margin-top: 10px;
        }
        p {
          margin-top: 10px;
          margin-bottom: 2rem;
          padding: 0;
        }
      }
    }
  }

  .main {
  .productive {
    flex-direction: column;
    padding: 0;

    .prod {
        padding: 0;
        margin: 0;
        width: 100%;
      }

      .texts {
         margin-top: 20px;
        padding: 0;

        h3{
            font-size: 1.5rem;
        }
        p{
            font-size: 13px;
            padding: 0 10px;
        }
        .flex {
          justify-content: center;
          align-items: center;
        }
    }
}

.testimonial {
    display: flex;
    flex-direction: column;
    padding: 2rem 0;
}
}

.access {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  left: 0rem;
  top: 4rem;
  padding: 1.5rem 2rem;
  margin: 0 1rem;

  h1 {
    font-size: 1.1rem;
    font-weight: 300;
    text-align: center;
  }
  p {
    font-size: 14px;
    width: 100%;
    text-align: center;
  }

  .btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15px;

    input {
      width: 250px;
      margin: 15px 20px;
      padding: 10px;
    }
    button {
      font-size: 11px;
    }
  }
}
.footer {
    display: flex;
    flex-direction: column;
    justify-content:  flex-start;
    align-items: flex-start;
    padding: 8rem 5px;

    &_list {
      margin: 15px 0;
      #logo {
        width: 100px;
        margin-left: 10px;
      }
      .ul {
        flex-direction: column;
        margin-top: 3rem;
      }
    }
}

}
