@mixin media-sm {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@include media-sm() {
  nav {
    padding: 10px;

    img {
      width: 70px;
    }
    .menu-nav {
      &__item {
        margin: 10px;
      }
    }
  }

  .container {
    img {
      width: 100%;
    }

    .texts {
      h3 {
        font-size: 1.5rem;
      }
      p {
        font-size: 13px;
      }
    }
  }

  .articles {
    display: flex;
    flex-direction: column;
    background: none;
    justify-content: center;
    align-items: center;
    padding: 0;

    &__list {
      padding: 0;
      .texts {
        padding: 0;
        h6 {
          margin-top: 10px;
        }
        p {
          margin-top: 10px;
          margin-bottom: 2rem;
        }
      }
    }
  }

  .main {
  .productive {
    flex-direction: column;

    .prod {
        padding: 0;
        margin: 0;
      }

      .texts {
          margin-top: 20px;
        padding: 0;

        h3{
            font-size: 1.5rem;
        }
        p{
            font-size: 13px;
        }
    }
}

.testimonial {
    display: flex;
    flex-direction: column;
    padding: 0;
}
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

}
