@import './config';

body{
    padding: 0;
    margin: 0;
    background: $DarkBlueMain;
    color: $White;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 40px;

    img{
        width: 150px;
    }

    .menu-nav{
        display: flex;
        flex-direction: row;
        list-style: none;

        &__item{
            margin: 25px;

            .link{
                color: $White;
                text-decoration: none;
            }
        }
    }
}